
	table {
		border: 5px solid silver;
		}
	td:hover {
		background-color:yellow;
			color:black;
		}
	tr, th {
		background-clor: black;
		color: orange;
		}
	tr, td {
		background-clor: darkgreen;
		color: red;
		